<div class="body">
    <div id="description">
        <p class="animate-charcter" id="descriptionpara">
            Platform To Convert Your Long URLS to the Short One Which Makes It More Engaging, Memorable and Shareable
        </p>
    </div>

    <div class="auth-box">
        <div class="loginBx">
            <div class="container" id="form">
                <!-- Login Form -->
                <form #registrationForm="ngForm" *ngIf="!this.isSignUp && !this.isResetPasswordOpen">
                    <h2>Login</h2>
                    <input id="username" type="text"  placeholder="Email or Mobile here..." [(ngModel)]="username" required>
                    <div class="input-group">
                        <input [type]="view ? 'text' : 'password'" placeholder="Password here..." [(ngModel)]="password"
                            required>
                        <button type="button" style="right: -20px;" class="toggle-password" (click)="viewPass()">
                            <img *ngIf="view" src="assets/img/flashlight (1).png" alt="Show">
                            <img *ngIf="!view" src="assets/img/flashlight (2).png" alt="Hide">
                        </button>
                    </div>
                    <a class="forgot-password" (click)="openResetPassword()">Forgot Password?</a>
                    <button [disabled]="registrationForm.invalid" (click)="login()">Login</button>
                    <h6 class="error">{{this.loginService.errorMessage}}</h6>
                    <div class="redirect">
                        <h6>Not Having Account:<a class="register-link" (click)="openSignupMenu()"> Register</a></h6>
                        
                    </div>
                    <div class="divider">
                        <p></p>
                        <h6>Sign Up Using</h6>
                        <p></p>
                    </div>
                    <div class="auth-buttons" style="">
                        <asl-google-signin-button type="icon" size="large" shape="circle"></asl-google-signin-button>
                        <button style="background-color: transparent" type="button" (click)="maslogin()">
                            <img src="assets/img/microsoft.png" alt="Microsoft">
                        </button>
                    </div>
                </form>

                <!-- Reset Password Form -->
                <form *ngIf="this.isResetPasswordOpen">
                    <h2>Reset Password</h2>
                    <div class="input-pair">
                        <input type="text" placeholder="Email or Mobile here..." [(ngModel)]="newUsername">
                        <button type="button" (click)="generateOtp()">Get Otp</button>
                    </div>
                    <div class="input-pair">
                        <input class="no-arrows" type="number" placeholder="OTP" [(ngModel)]="otp">
                        <button type="button" (click)="verifyOtp()">Verify</button>
                    </div>
                    <div style="display: flex; gap: 2px;"> 
                        
                        <input type="password" placeholder="Create new password" [(ngModel)]="newPassword">
                        <button type="button" style="background-color: transparent;border-color: transparent;margin: 0;padding: 0;" class="info-btn" (click)="showPasswordSpecification()">
                            <i style="margin-left: 20px;" class="fa-solid fa-circle-info"></i>
                        </button>

                    </div>
                    <div *ngIf="this.isPasswordRulesVisible" class="password-info">
                        <p>Password must have at least one Uppercase, or lowercase, number, and the length of the
                            password must be 8-16 characters</p>
                    </div>
                    <div class="input-group">
                        <input [type]="view ? 'text' : 'password'" placeholder="Confirm password"
                            [(ngModel)]="confirmNewPassword">
                        <button type="button" style="right: -20px;" class="toggle-password" (click)="viewPass()">
                            <img *ngIf="view" src="assets/img/flashlight (1).png" alt="Show">
                            <img *ngIf="!view" src="assets/img/flashlight (2).png" alt="Hide">
                        </button>
                    </div>
                    <button (click)="resetPassword()">Confirm Reset</button>
                    <button type="button" (click)="closeResetPassword()">Login</button>
                </form>

                <!-- Sign Up Form -->
                <form *ngIf="this.isSignUp && !this.isResetPasswordOpen">
                    <h2>Sign Up</h2>
                    <div class="input-pair">
                        <input type="text" placeholder="Email or Mobile here..." [(ngModel)]="newUsername">
                        <button type="button" (click)="generateOtp()">Get Otp</button>
                    </div>
                    <div class="input-pair">
                        <input class="no-arrows" type="number" placeholder="OTP" [(ngModel)]="otp">
                        <button type="button" (click)="verifyOtp()">Verify</button>
                    </div>
                    <input type="password" placeholder="Create new password" [(ngModel)]="newPassword">
                    <button type="button" class="info-btn" (click)="showPasswordSpecification()">
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                    <div *ngIf="this.isPasswordRulesVisible" class="password-info">
                        <p>Password must have at least one Uppercase, or lowercase, number, and the length of the
                            password must be 8-16 characters</p>
                    </div>
                    <div class="input-group">
                        <input [type]="view ? 'text' : 'password'" placeholder="Confirm password"
                            [(ngModel)]="confirmNewPassword">
                        <button type="button" style="right: -20px;" class="toggle-password" (click)="viewPass()">
                            <img *ngIf="view" src="assets/img/flashlight (1).png" alt="Show">
                            <img *ngIf="!view" src="assets/img/flashlight (2).png" alt="Hide">
                        </button>
                    </div>
                    <button (click)="register()">Sign Up</button>
                    <div class="redirect">
                        <h6 style="padding-top: 3%;">Already Having Account</h6>
                        <button type="button" (click)="alreadyAccount()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>